/documentacao/.~lock.descricao.odt#
/implementacao/MercadoAutomobilistico/bin/*
/implementacao/MercadoAutomobilistico/.settings/*
/documentacao/UCs Diagramas.asta.lock
/documentacao/MercadoAutomobilistico.zip